.nav_bar {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
}

.divider {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}