.divider {
  margin: 5rem;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.profile {
  border-radius: 50%;
  justify-self: center;
}
