.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: auto;
}

.profile {
  border-radius: 50%;
  justify-self: center;
}

.home_title {
  margin-bottom: 2rem;
}
